.explore {
    width: 100%;
    height: 100vh;
    background: url('../assets/map.png') no-repeat;
    background-size: cover;
}

.explore .menu {
    display: flex;
    padding: 10px;
    /* position: absolute; */
    bottom: 7em;
    overflow-x: auto;
    cursor: grab;
}

.explore .menu-item {
    min-width: 100px;
    /* Set the minimum width for each menu item */
    height: 150px;
    width: 20em;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.card-exp {
    background-color: red;
    border-radius: 2em;
    overflow: hidden;
    display: grid;
    grid-gap: 1em;
    height: 100%;
    width: 100%;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.card-exp .img{
    grid-row: 1/4;
    grid-column: 1/2;
}

.card-exp .img img{
    width: 10em;
    height: 10em;   
}

.card-exp .desc {
    grid-row: 3;
    grid-column: 2/4;
}

.card-exp .dist {
    grid-row: 2;
    grid-column: 2/4;
}

.card-exp .head {
    grid-row: 1;
    grid-column: 2/4;
}